body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

header {
  padding: 0rem 3.2rem;
}

.header-text {
  font-size: 2.4rem;
}

.logo {
  height: 5.25rem;
}

.user-icon {
  width: 3.4rem;
  height: 3.4rem;
}

/*Main Section*/

main {
  max-width: 100rem;
  margin: 5.2rem auto;
  padding: 0 3.2rem;
}

.balance-information {
  margin-bottom: 4.8rem;
}

.secondary-heading {
  font-size: 2.4rem;
  font-weight: 400;
}

.date {
  font-size: 1.4rem;
  color: #444;
}

.balance-amount {
  font-size: 4.4rem;
  letter-spacing: 0.75px;
  font-weight: 400;
}
/* Analysis Section */
.analysis {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-bottom: 2.4rem;
}

.card {
  padding: 1.6rem;
  border-radius: 10px;
  background-color: #dbdbdb;
}

.card-title {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.card-amount {
  font-size: 2.4rem;
  font-weight: 400;
}

.card-positive {
  border-top: 5px solid #66c873;
}
.card-negative {
  border-bottom: 5px solid #e52a5a;
}

/*Transactions*/

.table-navigator {
  margin-bottom: 2.4rem;
  text-align: center;
}

.sort-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.transactions {
  background-color: #f9f9f9;
  max-height: 40rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 1.6rem;
}

.transaction-record {
  padding: 2.5rem 4.8rem;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.tag {
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  border-radius: 100px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.Deposit-tag {
  background-color: #66c873;
}
.Withdraw-tag {
  background-color: #e52a5a;
}

.transaction-amount {
  font-size: 1.7rem;
  margin-left: auto;
  font-weight: 600;
}

/*Footer*/

footer {
  text-align: center;
}

.logout-btn:link,
.logout-btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #dbdbdb;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 10px;
  letter-spacing: 1px;
  color: inherit;
  margin-bottom: 1.2rem;
}

.logout-btn:active,
.logout-btn:hover {
  background-color: #aaaaaa;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .analysis {
    grid-template-columns: 1fr;
    padding: 0 4.8rem;
  }
  .card {
    text-align: center;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .balance-information {
    flex-direction: column;
  }
  .balance-information .date {
    display: none;
  }
}

@media (max-width: 25rem) {
  html {
    font-size: 45%;
  }

  header {
    flex-direction: column;
    gap: 10px;
  }

  .transaction-record {
    flex-direction: column;
    align-items: center;
  }
  .transaction-amount {
    margin-left: 0;
  }
}

/* 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
