body {
  font-family: "Poppins", sans-serif;
  color: #444;
  padding: 2rem;
  position: relative;
}

header {
  padding: 0rem 3.2rem;
  margin-bottom: 5.2rem;
}

.header-text {
  font-size: 2.4rem;
}

.logo {
  height: 5.25rem;
}

.user-icon {
  width: 3.4rem;
  height: 3.4rem;
}

/*Main Section*/

main {
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  gap: 9.6rem;
  max-width: 140rem;
}

.balance-information {
  margin-bottom: 4.8rem;
}

.secondary-heading {
  font-size: 2.4rem;
  font-weight: 400;
}

.date {
  font-size: 1.4rem;
  color: #444;
}

.balance-amount {
  font-size: 4.4rem;
  letter-spacing: 0.75px;
  font-weight: 400;
}

/* Analysis Section */
.analysis {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-bottom: 2.4rem;
}

.card {
  padding: 1.6rem;
  background-color: #e6e6e6;
  border-radius: 10px;
}

.card-title {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.card-amount {
  font-size: 2.4rem;
  font-weight: 400;
}

.card-positive {
  border-top: 5px solid #66c873;
}
.card-negative {
  border-bottom: 5px solid #e52a5a;
}

/* Operations */
.operations-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.operations-data {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.actions-container {
  align-items: center;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1.3rem;
  transition: 0.5s all ease-in;
  background-color: #f3f3f3;
  font-family: inherit;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
}

.stat {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1.3rem;
  transition: 0.5s all ease-in;
  background-color: #e6e6e6;
  border-radius: 10px;
}

.btn-transfer {
  background-color: #ffcb03;
}
.btn-close {
  background-color: #e52a5a;
}

.btn-request {
  background-color: #66c873;
}

/*Transactions*/

.table-navigator {
  margin-bottom: 2.4rem;
  text-align: center;
}

.sort-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.sort-icon:hover {
  cursor: pointer;
}
.transactions {
  background-color: #f9f9f9;
  max-height: 40rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 1.6rem;
}

.transaction-record {
  padding: 2.5rem 4.8rem;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.tag {
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  border-radius: 100px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.Deposit-tag {
  background-color: #66c873;
}
.Withdraw-tag {
  background-color: #e52a5a;
}

.transaction-amount {
  font-size: 1.7rem;
  margin-left: auto;
  font-weight: 600;
}

.logout-btn:link,
.logout-btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #dbdbdb;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: inherit;
  border-radius: 10px;
}

.logout-btn:active,
.logout-btn:hover {
  background-color: #aaaaaa;
}

.logout-timer {
  text-align: right;
}

/* Dialog */
.overlay-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  backdrop-filter: blur(3px);
  z-index: 5;
}

.dialog-container {
  width: 35rem;
  padding: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 99999;
}

.transfer-dialog {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.request-dialog {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.close-dialog {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.field-input {
  width: 100%;
  border: none;
  padding: 1.3rem 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  text-align: left;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
}

form input:nth-child(2) {
  margin-bottom: 4rem;
}

.cls-btn {
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cls-btn:hover {
  background-color: #e7f5ff;
}

.dialog-heading {
  font-size: 2rem;
}

.hide {
  display: none;
}

.error {
  font-size: 1.6rem;
}

/* MEDIA QUERIES */
@media (max-width: 75em) {
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .balance-information {
    flex-direction: column;
  }
  .secondary-heading {
    text-align: center;
  }
  .balance-information .date {
    text-align: center;
  }
  .analysis {
    grid-template-columns: 1fr;
    padding: 0 4.8rem;
  }
  .card {
    text-align: center;
  }
  main {
    grid-template-columns: 1fr;
  }
  .operations-container {
    justify-self: center;
    width: 100%;
  }
  .operations-data {
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 47em) {
  .operations-data {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 40em) {
  header {
    flex-direction: column;
    gap: 4.8rem;
  }
}

@media (max-width: 25rem) {
  html {
    font-size: 45%;
  }

  .transaction-record {
    flex-direction: column;
    align-items: center;
  }
  .transaction-amount {
    margin-left: 0;
  }
  .stat {
    flex-direction: column;
    align-items: center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
