body {
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6rem;
}

.login-card {
  width: 30rem;
  margin: 20rem auto;
  text-align: center;
}
.field-input {
  width: 100%;
  border: none;
  padding: 1.3rem 5rem;
  font-size: 1.4rem;
  font-family: inherit;
  text-align: center;
  margin-bottom: 2rem;
}

form input:nth-child(2) {
  margin-bottom: 4rem;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1.3rem;
  background-color: #66c873;
  transition: 0.5s all ease-in;
  display: block;
}

.btn:hover {
  background-color: #52a05c;
  cursor: pointer;
}

.login-form {
  margin-bottom: 2rem;
}

.error {
  font-size: 1.6rem;
  color: #e52a5a;
}
